/* The H1 Setting  */

h1 {background-color: rgb(86, 102, 116); text-align: center; color: white; height: 40px;}
/* The PH Body Setting */

.ab14{background-color: rgb(0, 0, 255); margin: 0%; color: white;  height: 30px; text-align: left;}
.ab13{background-color: rgb(50, 50, 252);  margin: 0%; color: white; height: 30px;}
.ab12{background-color: rgb(80, 80, 253);  margin: 0%; color: white ;  height: 30px;}
.ab11{background-color: rgb(110, 110, 255);  margin: 0%; color: white ;  height: 30px;}
.ab10{background-color: rgb(175, 175, 255);  margin: 0%; color: white ;  height: 30px;}
.ab9{background-color: rgb(200, 200, 253);  margin: 0%; color: white ;  height: 30px;}
.ab8{background-color: rgb(170, 170, 255);  margin: 0%; color: white ;  height: 30px;}
.a7{background-color: rgb(3, 119, 42);  margin: 0%; color: white ;  height: 30px;}
.a6{background-color: rgb(243, 192, 174);  margin: 0%; color: white ;  height: 30px;}
.a5{background-color: rgb(224, 170, 150);  margin: 0%; color: white ;  height: 30px;}
.a4{background-color: rgb(241, 138, 100);  margin: 0%; color: white ;  height: 30px;}
.a3{background-color:rgb(247, 102, 50);  margin: 0%; color: white ;  height: 30px;}
.a2{background-color: rgb(247, 85, 26);  margin: 0%; color: white ;  height: 30px;}
.a1{background-color: orangered;  margin: 0%; color: white; ;  height: 30px;}
body{background-color: rgb(210, 218, 224);}
